# SPDX-License-Identifier: GPL-2.0-or-later

config HID_ITHC
	tristate "Linux driver for Intel Touch Host Controller"
  depends on PCI
	depends on HID
	help
	  Say Y here if your system has a touchscreen using Intel
	  Touch Host Controller technology (Which is used on surfacePro 7+ and 8)

	  If unsure say N.

	  To compile this driver as a module, choose M here: the
	  module will be called ipts.
